pipeline/Pipeline_Global.json
{
	"name": "Pipeline_Global",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"StudentId"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "StudentId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StudentId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Department",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Department",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Age",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Age",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "students_input",
						"type": "DatasetReference",
						"parameters": {
							"environment": {
								"value": "@pipeline().globalParameters.global_environment",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "students_sql_table",
						"type": "DatasetReference",
						"parameters": {
							"environment": {
								"value": "@pipeline().globalParameters.global_environment",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "loginURL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://skynet',pipeline().globalParameters.global_environment,'.vault.azure.net/secrets/loginUrl?api-version=',pipeline().parameters.api_version) ",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "loginUser",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://skynet',pipeline().globalParameters.global_environment,'.vault.azure.net/secrets/loginUser?api-version=',pipeline().parameters.api_version) ",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "loginPassword",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://skynet',pipeline().globalParameters.global_environment,'.vault.azure.net/secrets/loginPassword?api-version=',pipeline().parameters.api_version) ",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Login",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "loginURL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "loginUser",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "loginPassword",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('loginURL').output.value",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"email\" : \"@{activity('loginUser').output.value}\",\n    \"password\" : \"@{activity('loginPassword').output.value}\"\n    }\n\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Login').output,'token')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Call Api Users",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://reqres.in/api/users?page=2",
								"method": "GET"
							}
						}
					]
				}
			},
			{
				"name": "Wait3",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Login",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Call Api Users').output.data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Insert one by one SP",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertStudent]",
								"storedProcedureParameters": {
									"Age": {
										"value": "12",
										"type": "Int32"
									},
									"Department": {
										"value": {
											"value": "@item().first_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Name": {
										"value": {
											"value": "@item().last_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"StudentId": {
										"value": {
											"value": "@item().id",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "skynetSQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"environment": {
										"value": "@pipeline().globalParameters.global_environment",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "insert_one_row",
					"method": "POST",
					"body": {
						"name": "pepitoooo"
					}
				},
				"linkedServiceName": {
					"referenceName": "skynetFunctionApp",
					"type": "LinkedServiceReference",
					"parameters": {
						"environment": "dev"
					}
				}
			}
		],
		"parameters": {
			"api_version": {
				"type": "String",
				"defaultValue": "7.4"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-13T18:33:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}